@charset "UTF-8";


/*구글 한글폰트 불러오는 곳*/
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
    
h1, h2, h3, h4, h5, p {
	font-family: 'Jeju Myeongjo', serif !important;
}
/*구글 한글폰트 불러오는 부분 끝*/


/*
다른 파일에서 가져온 부분들
*/

.bottom-left {
	 position: absolute !important;
}

/* ====모달창 관련==== */
.pb_form_v1 {
  padding: 50px;
  -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75); }
  @media (max-width: 991px) {
    .pb_form_v1 {
      padding: 30px; } }

#planModalSubject {
	text-color: #FFFFFF;
}

.mb-4 {
  margin-bottom: 1.5rem !important; }
  
.mt-0 {
  margin-top: 0 !important; 
  color: #ffffff;
}

.align-self-center {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center !important; }



.form-control.reverse {
  background: #f2f2f2;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border-color: #f2f2f2; }
  .form-control.reverse:focus, .form-control.reverse:active {
    background: none;
    border-color: #1d82ff !important; }
    

.pb_btn-pill {
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px; }
  
.btn-shadow-blue {
  -webkit-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
  -moz-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
  box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45); }
  
.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 0.5rem; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

/* ====모달창 관련==== */
#modal-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.teamNameTable th h2 {
	font-weight: bold;
	font-size: 1em;
  	text-align: center;
  	color: #ffffff;
}

.teamNameTable td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}



.teamNameTable {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.teamNameTable td, .teamNameTable th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.teamNameTable tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.teamNameTable tr:nth-child(even) {
	  background-color: #2C3446;
}

.teamNameTable th {
	  background-color: #1F2739;
}

.teamNameTable td:first-child { color: #FFF842; }

.teamNameTable tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.teamNameTable td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.teamNameTable td:nth-child(4),
.teamNameTable th:nth-child(4) { display: none; }
}


/* button {
	background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    border: none;

} */
/*
*/


.modal-header-color {
    color:#FFFFFF;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #000000;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/*======== teamList 부분 관련 ==========*/
#teamList div {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}



/*======== +Team 모달 내 파일 업로드 버튼 관련 ==========*/

#teamImage {
	padding-left: 0 !important;
	width: 80% !important;
}

/* ============= 메세지 모달창 설정 ========================= */

/* .blue { color: #185875; }
.yellow { color: #FFF842; }
 */
.messageTable h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.messageTable td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.messageTable {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.messageTable td, .messageTable th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.messageTable tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.messageTable tr:nth-child(even) {
	  background-color: #2C3446;
}

.messageTable th {
	  background-color: #1F2739;
}

.messageTable td:first-child { color: #FB667A; }

.messageTable tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.messageTable td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.messageTable td:nth-child(4),
.messageTable th:nth-child(4) { display: none; }
}

/* ============= 메세지 모달창 설정 ========================= */

/* ================== footer 설정 ===========================*/
.site-footer {
	padding-bottom: 0px !important;
} 

.site-footer container > mb-5 : {
	margin-bottom: 20px !important;
}

